@{
    ViewData["Title"] = "Log in";
}

<body>
    <header>
        <h1>LOG IN</h1>
    </header>
    
    <main>
    
       <form action='@Url.Action("LogInGuardar", "Account")' method = post>
                <input type="text" name = "username" autocomplete="off">
                 <input type="password" name = "password" autocomplete="off">
                <div>
                    <input type="submit" value="ENVIAR">
                </div>
            </form>
    </main>
    
</body>