@{
    ViewData["Title"] = "Sign in";
}

<body>
    <header>
        <h1>SIGN IN</h1>
    </header>
    
    <main>

       <form action='@Url.Action("RegistroGuardar", "Account")' method = post>
                    <input type="text" name = "username" autocomplete="off" placeholder="Username"><br>
                    <input type="password" name = "password" autocomplete="off" placeholder="Password"><br>
                    <input type="text" name = "Nombre" autocomplete="off" placeholder="Nombre"><br>
                    <input type="text" name = "apellido" autocomplete="off" placeholder="Apellido"><br>
                    <input type="date" name = "FechaUltimoLog" autocomplete="off"><br>
                    Foto: <input type="file" name = "foto" >
                <div>
                    <input type="submit" value="ENVIAR">
                </div>
            </form>

    </main>
    
</body>