@{
    ViewData["Title"] = "Sign in";
}

<section class = "signin">
<body>
    <header>
        <h1>SIGN IN</h1>
    </header>
    
    <main>

       <form action='@Url.Action("RegistroGuardar", "Account")' method = post>
                    <input type="text" name = "username" autocomplete="off" placeholder="Username">
                    <input type="password" name = "password" autocomplete="off" placeholder="Password">
                    <input type="text" name = "Nombre" autocomplete="off" placeholder="Nombre">
                    <input type="text" name = "apellido" autocomplete="off" placeholder="Apellido">
                    <input type="date" name = "FechaUltimoLog" autocomplete="off">
                    <input type="file" name = "foto">
                <div>
                    <input type="submit" value="ENVIAR">
                </div>
            </form>

    </main>
    
</body>
</section>