@{
    ViewData["Title"] = "LOG IN";
}

<body>
    <header>
        <h1>ViewTasker</h1>
    </header>
    
    <main>
       <a href='@Url.Action("LogIn", "Account")'>LOG IN</a>

       <a href='@Url.Action("Registro", "Account")'>SIGN IN</a>
    </main>
    
</body>